/* App.js */

/* data.js */

/* Detail.js */

/* Home.js */

.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.home-content {
  flex: 1; 
}

.home-footer {
  width: 100vw; /* full browser width, not just parent width */
  margin-left: calc(-50vw + 50%); /* removes any container padding/margins */
  height: 250px; 
  display: flex;
  align-items: flex-end;
  background-color: #000000; /* optional */
}

.home-footer {
  background-color: #000000;
}

/* index.js */

/* List.js */

.skill-button {
  min-width: 120px;
  text-align: center;
}
